{#
  WebmasterTools

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/WebmasterTools
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/WebmasterTools/Template' %}
  {% set template_file = 'admin/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'WebmasterTools - About'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/WebmasterTools/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/WebmasterTools/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/WebmasterTools/Template/default/css/admin.min.css' }}" media="screen, projection" />
  {% endif %}
{% endblock stylesheet %}

{% block content %}
  <div class="container">
    {% include '@phpManufaktur/WebmasterTools/Template/default/admin/toolbar.twig' %}
    
    <div class="margin-top-15"></div>
    
    {{ alert }}
    
    {% form_theme form '@phpManufaktur/WebmasterTools/Template/default/admin/form.fields.horizontal.twig' %}
    
    <form class="form-horizontal" action="{{ FRAMEWORK_URL }}/admin/webmastertools/protocol/select?usage={{ usage }}" method="post" role="form">
      {{ form_errors(form) }}
      {{ form_row(form._token) }}
      <div class="row">
        <div class="col-sm-4">
          {{ form_widget(form.protocol) }}
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-default"><i class="fa fa-folder-open-o"></i> {{ 'Load'|trans }}</button>
        </div>
      </div> 
    </form>
    
    <div class="margin-top-15"></div>
    
    <div class="panel panel-default">
      <div class="panel-body protocol"><code>{% for line in protocol %}{{ line }}<br />{% endfor %}</code></div>
    </div> 
  </div>
{% endblock content %}
