{#
  WebmasterTools

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/WebmasterTools
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/WebmasterTools/Template' %}
  {% set template_file = 'admin/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'WebmasterTools - About'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/WebmasterTools/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/WebmasterTools/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/WebmasterTools/Template/default/css/admin.min.css' }}" media="screen, projection" />
  {% endif %}
{% endblock stylesheet %}

{% block content %}
  <div class="container">
    {% include '@phpManufaktur/WebmasterTools/Template/default/admin/toolbar.twig' %}
    
    <h2>{{ 'Sitemaps'|trans }}</h2>
    
    {{ alert }}

    {% if sitemaps|length < 1 %}
      {# no URL defined! #}
      {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/alert.twig' with {
          'type':'alert-warning', 'content':'not available'} %}
    {% else %}
      <ul>
      {% for url in config.sitemap.url.index %}
        <h3><a href="{{ url }}" target="_blank">{{ url }}</a></h3>
        
      {% endfor %}
      </ul>
    {% endif %}
      
  </div>
{% endblock content %}
